:root {
	--primary: #2d2d2d;
	--secondary: #535353;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #f1f1f1;
	min-height: 100%;
	overflow-x: hidden;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

main {
	margin: 0rem 18%;
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

h2 {
	font-size: 1.2rem;
	color: var(--primary);
}

h3 {
	font-size: 1rem;
	color: var(--secondary);
}

a {
	color: inherit;
	text-decoration: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

p {
	line-height: 150%;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
